<!doctype html>
<!--
COPYRIGHT by HighHay/Mivfx
Before using this theme, you should accept themeforest licenses terms.
http://themeforest.net/licenses
-->

<html class="no-js" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">

        <!-- Page Title Here -->
        <title>智闻高校 - 你身边的高校百科全书</title>

        <!-- Page Description Here -->
		<meta name="description" content="A responsive coming soon template, un template HTML pour une page en cours de construction">

        <!-- Disable screen scaling-->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <!-- Initializer -->
        <link rel="stylesheet" href="/static/ZWGX/css/normalize.css">

        <!-- Web fonts and Web Icons -->
        <link rel="stylesheet" href="/static/ZWGX/css/pageloader.css">
        <link rel="stylesheet" href="/static/ZWGX/fonts/opensans/stylesheet.css">
        <link rel="stylesheet" href="/static/ZWGX/fonts/asap/stylesheet.css">
        <link rel="stylesheet" href=" https://cdn.bootcss.com/ionicons/1.5.2/css/ionicons.min.css">

        <!-- Vendor CSS style -->
        <link rel="stylesheet" href="/static/ZWGX/css/foundation.min.css">
        <link rel="stylesheet" href="/static/ZWGX/js/vendor/jquery.fullPage.css">
        <link rel="stylesheet" href="/static/ZWGX/js/vegas/vegas.min.css">

		<!-- Main CSS files -->
        <link rel="stylesheet" href="/static/ZWGX/css/main.css">
        <link rel="stylesheet" href="/static/ZWGX/css/main_responsive.css">
        <link rel="stylesheet" href="/static/ZWGX/css/style-font1.css">
        <link rel="stylesheet" href="/static/ZWGX/css/application.css">
        <link rel="stylesheet" href="/static/ZWGX/css/jq22.css">

        <script src="/static/ZWGX/js/vendor/modernizr-2.7.1.min.js"></script>
    </head>
    <body id="menu" class="alt-bg">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Site config : put launching date here
             data-date="01/31/2015 23:00:00"        Launching date
             data-date-timezone="+0"                Lanching date time zone
-->



        <!-- Page Loader -->
        <div class="page-loader" id="page-loader">
            <div><i class="ion ion-loading-d"></i><p>loading</p></div>
        </div>

        <!-- BEGIN OF site header Menu -->
		<!-- Add "material" class for a material design style -->
		<header class="header-top">
<!--		<header class="header-top material">-->
			<div class="logo">
				<a href="#home">
					<img src="/static/ZWGX/img/logo_large.png" alt="Logo Brand">
				</a>
			</div>
            <div class="menu clearfix">
                <a href="#register">问答</a>
				<!-- Add other menu similar to "about" here -->
            </div>
		</header>
        <!-- END OF site header Menu-->

        <!-- BEGIN OF Quick nav icons at left -->
		<nav class="quick-link count-6 nav-left">
			<ul id="qmenu">
				<li data-menuanchor="home">
					<a href="#home" class=""><i class="icon ion ion-home"></i>
					</a>
					<span class="title">主&nbsp;&nbsp;&nbsp;页</span>
				</li>
				<li data-menuanchor="when">
					<a href="#when" class=""><i class="icon ion ion-android-alarm"></i>
					</a>
					<span class="title">诞&nbsp;&nbsp;&nbsp;辰</span>
				</li>
				<li data-menuanchor="register">
					<a href="#register"><i class="icon ion ion-compose"></i>
					</a>
					<span class="title">问&nbsp;&nbsp;&nbsp;答</span>
				</li>
				<li data-menuanchor="about-us">
					<a href="#about-us"><i class="icon ion ion-android-information"></i>
					</a>
					<span class="title">关&nbsp;&nbsp;&nbsp;于</span>
				</li>
				<li data-menuanchor="contact">
					<a href="#contact"><i class="icon ion ion-android-call"></i>
					</a>
					<span class="title">联&nbsp;&nbsp;&nbsp;系</span>
				</li>
				<li data-menuanchor="contact">
					<a href="#contact/message"><i class="icon ion ion-email"></i>
					</a>
					<span class="title">反&nbsp;&nbsp;&nbsp;馈</span>
				</li>
			</ul>
		</nav>
        <!-- END OF Quick nav icons at left -->



        <!-- BEGIN OF site cover -->
        <div class="page-cover" id="home">
            <!-- Cover Background -->
            <div class="cover-bg pos-abs full-size bg-img" data-image-src="/static/ZWGX/img/bg-default.jpg"></div>

            <!-- BEGIN OF Slideshow Background -->
            <div class="cover-bg pos-abs full-size slide-show">
				<i class='img' data-src='/static/ZWGX/img/bg-slide1.jpg'></i>
				<i class='img' data-src='/static/ZWGX/img/bg-slide2.jpg'></i>
				<i class='img' data-src='/static/ZWGX/img/bg-slide3.jpg'></i>
				<i class='img' data-src='/static/ZWGX/img/bg-slide4.jpg'></i>
			</div>
            <!-- END OF Slideshow Background -->

            <!--BEGIN OF Static video bg  - uncomment below to use Video as Background-->
            <!--<div id="container" class="video-container show-for-medium-up">
                <video autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted"
                       width="640" height="360">
                    <source src="vid/flower_loop.mp4" type="video/mp4">
                </video>
            </div>-->
            <!--END OF Static video bg-->

			<!-- Solid color as filter or as background -->
            <div class="cover-bg pos-abs full-size bg-color" data-bgcolor="rgba(51, 2, 48, 0.12)"></div>

        </div>
        <!--END OF site Cover -->

        <!-- BEGIN OF site main content content here -->
        <main class="page-main" id="mainpage">

			<!-- Begin of home page -->
			<div class="section page-home page page-cent" id="s-home">
				<!-- Logo -->
				<div class="logo-container">
					<img class="h-logo" src="/static/ZWGX/img/logo_only.png" alt="Logo">
				</div>
				<!-- Content -->
				<section class="content">

					<header class="header">
						<div class="h-left">
							<h2>智 闻 高 校</h2>
						</div>
						<div class="h-right">
							<h3>Intelligent <br>College</h3>
                            <h4 class="subhead"><a href="#">你 身 边 的 高 校 百 科 全 书。</a></h4>
						</div>
					</header>
				</section>

				<!-- Scroll down button -->
{#                <footer class="p-footer p-scrolldown">#}
{#                    <a href="#when">#}
{#                        <div class="arrow-d">#}
{#							<div class="circle"></div>#}
{#						</div>#}
{#                    </a>#}
{#                </footer>#}
			</div>
			<!-- End of home page -->

            <!-- Begin of timer page -->
            <div class="section page-when page page-cent" id="s-when">
                <section class="content">
                    <div class="clock clock-countdown">
						<div class="site-config"
							 data-date="10/31/2015 23:00:00"
							 data-date-timezone="+0"
							 ></div>
						<header class="header">
							<strong>Birth</strong>day</strong>
						</header>
                        <div class="elem-left">
                            <div class="digit hours">03</div>
                            <div class="text">mon</div>
                        </div>
                        <div class="elem-center">
							<!-- Optional text at top or image logo -->
							<!--<span class="text top">here in</span>-->
							<!-- Optional logo at top -->
							<span class="text top"><img class="img" alt="Logo" src="/static/ZWGX/img/logo_large.png"></span>
                            <div class="digit days">2018</div>
                            <div class="text">year</div>
                        </div>
                        <div class=" elem-right">
                            <div class="digit minutes">20</div>
                            <div class="text">day</div>
                        </div>

						<!-- second knob here -->
						<div class="second">
							<input class="knob container"
								   id="second-knob"
								  	data-width="400"
								  	data-height="400"
								 data-displayInput=false
									data-fgColor="#fff"
									data-bgColor="rgba(255,255,255,0)"
									data-thickness=".07"
								 	value="0"
									data-displayPrevious=true
								   data-max="6000"
								   />
						</div>
                    </div>

                </section>
{#                <footer class="p-footer p-scrolldown">#}
{#                    <a href="#register">#}
{#                        <div class="arrow-d">#}
{#							<div class="circle"></div>#}
{#						</div>#}
{#                    </a>#}
{#                </footer>#}
            </div>
            <!-- End of timer page -->

            <!-- Begin of register page -->
            <div class="section page-register page page-cent " id="s-register">
                <section class="content" style="height:80%;">
                    <header class="p-title" id="p-title">
                        <div>
                            <h3>问答<i class="ion ion-compose"></i></h3>
                        </div>

                        <div id="score" style="margin-left:10px;margin-top:12px;"></div>

                    </header>
                    <div>
                        <form id="mail-subscription" class="form magic send_email_form">
                            <div class="textareadiv">
                            <textarea id="answer" placeholder="答案 ..." readonly></textarea>
                            </div>
                            <div id="extension" class="extensiondiv"></div>
                            <hr>
							<div class="fields clearfix" style="margin-top:3%;">
								<div class="input">
                                    <label for="question">问题 </label>
									<input id="question" class="email_f" type="text" autocomplete="off" placeholder="请输入您的问题">
                                </div>
								<div class="buttons">
									<button id="submit" type="button" class="button email_b">提交</button>
                                    <button id="reset" type="button" class="button email_b">重置</button>
								</div>
							</div>
                        </form>
                    </div>
                </section>
{#                <footer class="p-footer p-scrolldown">#}
{#                    <a href="#about-us">#}
{#                        <div class="arrow-d">#}
{#							<div class="circle"></div>#}
{#						</div>#}
{#                    </a>#}
{#                </footer>#}
            </div>
            <!-- End of register page -->

            <!-- Begin of about us page -->
            <div class="section page-about page page-cent" id="s-about-us">
                <section class="content">
                    <header class="p-title">
                        <h3>关于<i class="ion ion-android-information">
                            </i>
                        </h3>
                        <h2>智闻高校</h2>
						<h4>一个准确周全的高校信息获取平台</h4>
                    </header>
                    <article class="text">
                        <p>这里汇聚了上海各个高校的详细信息，你可以通过对话的方式与其交流，从它这里获取你想知道的一切高校信息。</p>
                    </article>
                </section>
{#                <footer class="p-footer p-scrolldown">#}
{#                    <a href="#contact">#}
{#                        <div class="arrow-d">#}
{#							<div class="circle"></div>#}
{#						</div>#}
{#                    </a>#}
{#                </footer>#}
            </div>
            <!-- End of about us page -->

            <!-- Begin of Contact page   -->
            <div class="section page-contact page page-cent  bg-color" data-bgcolor="rgba(95, 25, 208, 0.88)s" id="s-contact">
				<!-- Begin of contact information -->
				<div class="slide" id="information" data-anchor="information">
					<section class="content">
						<header class="p-title">
							<h3>联系<i class="ion ion-location">
								</i>
							</h3>
							<ul class="buttons">
								<li class="show-for-medium-up">
									<a title="About" href="#about-us" ><i class="ion ion-android-information"></i></a>
								</li>
								<!--<li>
									<a title="Contact" href="#contact/information"><i class="ion ion-location"></i></a>
								</li>-->
								<li>
									<a title="Message" href="#contact/message"><i class="ion ion-email"></i></a>
								</li>
							</ul>
						</header>
						<!-- Begin Of Page SubSction -->
						<div class="contact">
							<div class="row">
								<div class="medium-6 columns left">
									<ul>
										<li>
											<h4>邮箱</h4>
											<p><a href="#">ZWGX2018@gmail.com</a></p>
										</li>
										<li>
											<h4>地址</h4>
											<p>上海海事大学
											<br>临港大道1550号</p>
										</li>
										<li>
											<h4>固话</h4>
											<p>150-2151-3588</p>
										</li>
									</ul>
								</div>
								<div class="medium-6 columns social-links right">
									<ul>
										<!-- legal notice -->
										<li class="show-for-medium-up">
											<h4>网址</h4>
											<p><a href="http://106.14.124.221:8002/">http://106.14.124.221:8002/</a></p>
										</li>
										<li  class="show-for-medium-up">
											<h4>关注我们</h4>
											<!-- Begin of Social links -->
											<div class="socialnet">
												<a href="#"><i class="ion ion-social-facebook"></i></a>
												<a href="#"><i class="ion ion-social-github"></i></a>
												<a href="#"><i class="ion ion-social-twitter"></i></a>
												<a href="#"><i class="ion ion-social-tumblr"></i></a>
											</div>
											<!-- End of Social links -->
										</li>
										<li>
											<p><img src="/static/ZWGX/img/logo_large.png" alt="Logo" class="logo"></p>
											<p class="small">Designed By <strong><a href="#">Linx</a></strong>. All right reserved 2018</p>
										</li>
									</ul>

								</div>
							</div>
						</div>
						<!-- End of page SubSection -->
					</section>
				</div>
				<!-- end of contact information -->

				<!-- begin of contact message -->
				<div class="slide" id="s-message" data-anchor="message">
					<section class="content">
						<header class="p-title">
							<h3>反馈<i class="ion ion-email">
								</i>
							</h3>
							<ul class="buttons">
								<li class="show-for-medium-up">
									<a title="About" href="#about-us"><i class="ion ion-android-information"></i></a>
								</li>
								<li>
									<a title="Contact" href="#contact/information"><i class="ion ion-location"></i></a>
								</li>
								<!--<li>
									<a title="Message" href="#contact/message"><i class="ion ion-email"></i></a>
								</li>-->
							</ul>
						</header>
						<!-- Begin Of Page SubSction -->

						<div class="page-block c-right v-zoomIn">
							<div class="wrapper">
								<div>
									<form class="message form send_message_form">
										<div class="fields clearfix no-border">
											<label for="mes-text">问题 </label>
											<textarea id="qfeedback" placeholder="请输入您想反馈的问题..." name="qfeedback" style= "background:transparent ;border:solid 1px ;border-radius:8px ;color:#FFFFFF;resize:none;" required></textarea>

											<label for="mes-text">答案 </label>
											<textarea id="afeedback" placeholder="请输入问题对应的答案..." name="afeedback" style= "background:transparent ;border:solid 1px ;border-radius:8px ;color:#FFFFFF;resize:none;" required></textarea>
                                            <button id="feedback" type="button" class="button email_b" style="margin-top:30px">提交</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!-- End Of Page SubSction -->
					</section>

				</div>
				<!-- End of contact message -->
            </div>
            <!-- End of Contact page  -->

        </main>

        <!-- END OF site main content content here -->

		<!-- Begin of site footer -->
{#		<footer class="page-footer">#}
{#			<span>Designed By Linx#}
{#				<a href="#" ><i class="ion icon ion-social-github"></i></a>#}
{#				<a href="#" ><i class="ion icon ion-social-facebook"></i></a>#}
{#			</span>#}
{#		</footer>#}
		<!-- End of site footer -->


<!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

        <!-- All Javascript plugins goes here -->
        <script src="/static/ZWGX/js/vendor/jquery-1.11.2.min.js"></script>

        <script src="/static/ZWGX/js/jquery.raty.min.js"></script>
		<!-- All vendor scripts -->
        <script src="/static/ZWGX/js/vendor/all.js"></script>

		<!-- Detailed vendor scripts -->
        <!--<script src="./js/vendor/jquery.fullPage.min.js"></script>
        <script src="./js/vendor/jquery.slimscroll.min.js"></script>
        <script src="./js/vendor/jquery.knob.min.js"></script>
        <script src="./js/vegas/vegas.min.js"></script>
        <script src="./js/jquery.maximage.js"></script>
        <script src="./js/okvideo.min.js"></script>-->

		<!-- Downcount JS -->
        <script src="/static/ZWGX/js/jquery.downCount.js"></script>

		<!-- Form script -->
        <script src="/static/ZWGX/js/form_script.js"></script>

		<!-- Javascript main files -->
        <script src="/static/ZWGX/js/main.js"></script>

        <script>
			$(document).ready(function(){
			    var tmp;
			    var grade;
			    var schoolname = "";
			    var intention = "";
			    var index = -1;
			    $.fn.raty.defaults.path = '/static/ZWGX/img';

			    function bindScore(){
			        $('#score').raty({
                        score: 0,
                        scoreName: 'score',
                        click: function(score,evt){
                            grade = score;
                            var url="/pingfen/";
                            $.ajax({
						        type:"Post",
						        url:url,
						        data:{"grade":grade,"schoolname":schoolname,"intention":intention,"index":index,"answer":$("#answer").val(),csrfmiddlewaretoken: '{{ csrf_token }}'},
						        dataType:"text",
						        success:function(result){
						            $('#score').raty('readOnly',true);
                                    $("#p-title").append('<div class="help-tip" style="margin-left:10px;margin-top:12px;"><p>对答案不满意？您可以将您认为最适当的答案<a href="#contact/message">反馈</a>给我们，帮助我们完善该系统！</p></div>');
						        }
                            });

                        }
                    });
                }

				$("#reset").on("click",function(){
					$("#answer").val("");
				    $("#question").val("");
				    $("#score").raty("destroy");
				    $(".help-tip").remove();
				    $("#extension").text("");
					$("#question").focus();
			    });

				$("#submit").on("click",function(){
                    $("#answer").val("");
                    $("#score").raty("destroy");
                    $(".help-tip").remove();
                    $("#extension").text("");
					var question = $("#question").val();
					var url="/website/submit/";
					$.ajax({
						type:"Post",
						url:url,
						data:{"Question":question,csrfmiddlewaretoken: '{{ csrf_token }}'},
						dataType:"json",
						success:function(result){
						    tmp = result;
						    schoolname = result["schoolname"];
						    intention = result["intention"];
						    index = result["index"];
						    if(result["baidu"] && result["baidu"] !== "很抱歉，这个我也母鸡啊！") {
                                $("#answer").val(result["baidu"]);
                                bindScore();
                            }
						    else if(result["baidu"] === "很抱歉，这个我也母鸡啊！")
						        $("#answer").val(result["baidu"]);
						    else
						        $("#answer").val("抱歉啦，这个我也不知道哇！");
						    var count = 0;
						    for(var i in result)
						        count++;
						    if(count > 4 && result["baidu"]) {
                                $("#extension").append('&nbsp;&nbsp;你可能还想知道:<br>');
                                $.each(result, function (name) {
                                    if (name !== "baidu" && name != "schoolname" && name != "intention" && name != "index")
                                        $("#extension").append('&nbsp;&nbsp;<a class="extens">' + name + '</a><br>')
                                });
                                $(".extens").on("click", function () {
                                    $("#answer").val("");
                                    $("#score").raty("destroy");
                                    $("#answer").val((tmp[$(this).text()]));
                                    bindScore();
                                });
                            }
						},
						error:function(){
							$("#answer").val("这个我也不知道啊！");
						}
					});
			    });
			});
			$("#question").keyup(function(event){
			    if(event.keyCode ==13){
			        $("#submit").trigger("click");
			    }
			});
			$("#feedback").on("click",function(){
			    var qfeedback = $("#qfeedback").val();
			    var afeedback = $("#afeedback").val();
			    if(qfeedback && afeedback){
			        var url="/fankui/";
			        $.ajax({
                        type: "Post",
                        url: url,
                        data: {"qfeedback": qfeedback,"afeedback":afeedback, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        dataType: "text",
                        success: function (result) {
                             alert("我们已收到您的反馈，感谢您的配合！");
                             $("#qfeedback").val("");
			                 $("#afeedback").val("");
                        }
                    })
                }else{
			        alert("请正确输入!");
			        $("#qfeedback").val("");
                    $("#afeedback").val("");
                }
            })
        </script>

        <!-- Google Analytics: Uncomment and change UA-XXXXX-X to be your site"s ID. -->
        <!--<script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src="//www.google-analytics.com/analytics.js";
            r.parentNode.insertBefore(e,r)}(window,document,"script","ga"));
            ga("create","UA-XXXXX-X");ga("send","pageview");
        </script>-->
    </body>
</html>
